footer {
    background-color: var(--color-primary-1);
    width: 100%;
}

#footer-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: 400px;
    margin-bottom: 30px;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer-items {
        flex-direction: column;
        gap: 20px;
        width: auto;
    }

}